.skills{
    margin-top: 10px;
}
.titulos{
    background-image: url(../img/icons/fongoLap75.svg);
    min-height: 70px;
    box-shadow: 4px 4px 2px rgba(85, 84, 84, 0.658);
}

.titulo{
    display: grid;
    align-self: center;
    background-color: #0095F0;   
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 20px 0px;
}
.titulo h1{
    color: white;
    font-size: 25px;
    margin-left: 2%;
}

/* TARJETAS */
.contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    gap: 10px;
    padding: 6%;
}

.targeta{
    display: grid;
    grid-template-rows: 135px 60px;
    justify-items: center;
    width: 150px;
    height: 150px;
   /*  background-color: #122a68;
    border-radius: 10px; */
    flex: 1 1 150px;
}

.logoT{
    filter: drop-shadow(4px 4px 4px rgba(22, 17, 17, 0.7)); 
    margin-top: 15px;
}

.diseñoC{
    width: 90px;
    height: 90px;   
}

.diseño{
    width: 135px;
    height: 135px;
}

.barra{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    align-self: center;
    justify-content: center;
    /* background-color: #0095F0; */
    /* background-color: bisque; */
}

.barraP{
    font-size: 0;
}

/* BARRAS DE PROGRESO */
progress[value]{
    /* Eliminar la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* quito borde de firefox */
    border: none;

    /* añado estilos */
    width: 130px;
    height: 21px;
    overflow: hidden;

    background-color: coral;
    border-radius: 20px;

    color: black;

    box-shadow: 4px 4px 4px rgba(22, 17, 17, 0.7);
}

progress::-moz-progress-bar{
    background:  #0095F0;
    border-radius : 20px;
}

progress::-webkit-progress-value{
    background:  #0095F0;
    border-radius : 20px;
}

progress::-webkit-progress-bar {
    background-color: coral;
    box-shadow: 0 2px 5px rgba(216, 212, 212, 0.25) inset; /*esta sombra es para simular el borde que he aplicado arriba para Mozilla*/
    border-radius : 20px ;         
}

.porcentaje{
    position: relative;
    left:5%;
    top: -25px;
    color: #e2e2e2;
    text-align: center;
}

.porcentaje-css{
    left: 10%;
}

/* .descripcionP{
    background-color: #c4c4c4;
}
 */
@media screen and (min-width:992px){
    .skills{
        margin: 0px 67px 10px 67px;
    }

    .titulos{
        min-height: 100px;
    }

    .titulo{  
        width: 300px;
        height: 80px;
    }
    .titulo h1{
        color: white;
        font-size: 2.1em;
        margin-left: 8%;
    }
    
    .contenedorTarjetas{
       /*  display: flex;
        flex-wrap: nowrap; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
       /*  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
       justify-content: center;
        gap: 20px;
        padding: 6%;
        
    }
    
    .targeta{
        display: grid;
        grid-template-rows: 200px 100px;
        width: 250px;
        height: 300px;
    }

    .logoT{
        margin-top: 10px;
    }

    .logoT img{
        width: 110px;
        height: 200px;
    }   
   
    .diseñoC{
        width: 100px;
        height: 100px;  
    }

    progress[value]{
        width: 200px;
        height: 25px;
       /*  overflow: hidden; */
    }

    .porcentaje{
        top: -30px;
    }

    .barra{
        grid-template-rows: 30px 0px 50px; 
    }

    /* .targeta{
        margin: 0;
    } */
    
    .barraP{
        color: #6d6b6b;
        padding: 0;
        margin: 0;
        font-size: 1.8vw; 
        text-align: center;
        text-shadow: 2px 4px 4px #949292;
    }

}
