.foot{
    display: grid;
    grid-template-rows: 1fr 80px;
    justify-items: center;
    align-items: center;
    background-color: $principal;
    .contenedor-iconos{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        align-items: center;
    }
    p{
        font-size: 5vw;
        text-align: center;
        color: #ffffff;
        margin-left: 10%;
    }
    .footerUL{
       display: flex;
       flex-wrap: wrap;
       list-style: none;
       justify-content: space-around;
       align-items: center;
       gap: 25px;
       margin-left: 50px;
       padding: 10%;
      
    }
    .correo{
        justify-content: center;
        p{
             font-size: 1.3em;
        }
    }
    .icon{
        font-size: 3em;
        color: $base;
        text-decoration: none;
        &:hover{
            color:$texto2;
        }    
    }

}

@media screen and (min-width:768px) {
    .footerUL{
        justify-content: space-between;
        .li-footer{
            margin: 10px;
            font-size: 20px;
        }
    }
    .correo{
        font-size: 20px;
    }
}