.contentPortafolio{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
    gap: 10px;
    .contenedorProyecto{
        display: grid;
        grid-template-rows: auto auto;
        gap: 10px;
        padding: 2.5%;
        //background-color: $principal;
        //box-shadow: 5px 5px 8px rgb(205, 206, 206), -5px -5px 8px rgb(149, 150, 150);
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;
        box-shadow: 5px 5px 8px rgb(185, 184, 184), -5px -5px 8px rgb(250, 246, 246);
        &:hover{
            box-shadow: 5px 5px 8px rgb(185, 184, 184)inset, -5px -5px 8px rgb(250,246, 246)inset;
        }
        .portafolioImg{
            width: 100%;
            max-width: 220px;
            height: 150px;
            border-radius: 5px;
        }
        .textoPortafolio{
            color:#6d6b6b;
            font-size: 5vw;
            text-align: center;
            text-shadow: 2px 2px 2px #949292;
        }
    }
}

@media screen and (min-width:992px) {
    .portafolio{
        margin: 0px 67px 10px 67px;
        
    }
}